body {
  background-color: #102743;
  color: black;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  margin-top: 70px;
  position: relative;
  max-width: 100%;
  overflow-x: auto;
}

.logo img {
  max-width: 150px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 20px;
}

h2 {
  color: #5187ed;
}

.address-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

input[type="text"],
textarea {
  text-align: center;
  vertical-align: middle;
}

.row {
  margin-bottom: 10px;
}

#totalAmount {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}

.invoice-content {
  width: 100%;
  overflow-x: auto;
}

.invoice-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.invoice-content table th {
  background-color: grey;
  color: white;
  border: 1px solid black;
}

.invoice-content table td,
.invoice-content table th {
  border: 1px solid black;
  padding: 8px;
  vertical-align: middle;
}

.invoice-content table td input {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-amount {
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
}

.signature {
  text-align: right;
  margin-top: 40px;
}

/* Responsive Design */
@media (max-width: 992px) {
  .container {
    margin-top: 30px;
    padding: 20px;
  }

  .logo img {
    max-width: 120px;
    top: 5px;
    right: 10px;
  }

  .address-section {
    flex-direction: column;
  }

  table {
    font-size: 14px;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .logo img {
    max-width: 100px;
  }

  .invoice-content {
    overflow-x: auto;
  }

  th,
  td {
    font-size: 12px;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .logo img {
    display: block;
    margin: 0 auto;
    position: relative;
  }

  h2 {
    font-size: 20px;
  }

  .invoice-content {
    width: 100%;
    overflow-x: auto;
  }

  th,
  td {
    font-size: 10px;
  }

  .btn {
    font-size: 14px;
  }
}
